<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'inicio/css/style.css'%}" rel="stylesheet" type="text/css">
    <title>{%block titulo%}{%endblock%}</title>
</head>
<body>
    {%block header%}
    {%endblock%}
        <nav class="menu">
            <a href="{% url 'inicio' %}" class="menu_item">Inicio</a>
           <a href="{% url 'registrado' %}" class="menu_item">Registrar</a>
            <a href="{%url 'administrado'%}" class="menu_item">Administrador</a> 
            </nav>
    

    {%block main%}
	
	{%endblock%}
</body>
</html>